@import url(https://fontlibrary.org//face/school-cursive);
@import url(https://fontlibrary.org//face/racing-sans);
/* font-family: 'SchoolCursiveRegular'; */
/* font-family: 'RacingSansOneRegular'; */

/* color palette */
:root {
    --text-color: #283618;
    --background-color: #FEFAE0;
    --background-color-intro: #DDA15E;
    --logo-color: #BC6C25;
    --input-area-color: #606C38;
    --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-stack);

    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    color: var(--text-color);
}


img {
    width: 80px;


}

.container {
    display: flex;


}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;


}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: content-box;


}

.shadow {
    background: #fefae0;
    background: -webkit-linear-gradient(0deg, #fefae0 0%, #dda15e 100%);
    background: linear-gradient(0deg, #fefae0 0%, #dda15e 100%);
    height: 10px;
}

.shadow-reverse {
    background: #dda15e;
    background: -webkit-linear-gradient(0deg, #dda15e 0%, #fefae0 100%);
    background: linear-gradient(0deg, #dda15e 0%, #fefae0 100%);
    height: 10px;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.row>div {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 350px;
    margin-left: 20px;
    margin-right: 20px;


}

.legend {
    margin: 20px;
}

.header,
.footer {
    background-color: var(--background-color-intro);
    font-family: 'RacingSansOneRegular', var(--font-stack);
    padding: 50px 50px 20px 20px;


}

.side-logo {
    background-image: url("./img/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 35vw;

    display: flex;
    padding-top: 20vh;

}

.logo {
    height: 140px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;

}

.logoTitle {
    height: 80px;
    color: var(--logo-color);
    font-weight: bolder;
    padding: 10px;
    font-size: 6rem;
    font-family: 'SchoolCursiveRegular', var(--font-stack);
}





h2 {
    padding-top: 40px;
}

input {
    box-shadow: 0px 0px 10px 1px var(--input-area-color);
    color: var(---text-color);
    padding: 5px;
    border: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}

input:focus {
    box-shadow: 0px 0px 10px 1px var(--logo-color);
    background-color: var(--background-color-intro);
    border: 2px solid var(--text-color);
}

input+span {
    position: relative;
}

input+span::before {
    position: absolute;
    right: -20px;
    top: -35px;
}

input:invalid {
    border: 2px solid red;
}

input:invalid+span::before {
    content: "✖";
    color: red;
}

input:valid+span::before {
    content: "✓";
    color: green;
}


label {
    font-size: 0.8rem;
    margin-top: 5px;
}

button {
    background: var(--input-area-color);
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}

button:hover {
    box-shadow: 0px 0px 25px 2px var(--input-area-color);
}













@media only screen and (max-width: 700px) {
    * {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0rem;
        line-height: 1;
    }

    .logoTitle {
        font-size: 2.8rem;
        padding: 5px;
        height: 40px;
    }

    img {
        width: 40px;
    }

    .logo {
        height: 100px;
        padding: 5px;
    }

    .header {
        padding: 5px;

    }

    h2 {
        padding-top: 8px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-direction: column;

    }

    .legend {
        margin: 5px;
    }
}